stages:
  - test
  - build
  - deploy

variables:
  # Indique où GitLab Pages va chercher les fichiers générés
  PUBLIC_DIR: public

build-docs:
  stage: build
  image: ubuntu:latest
  script:
    - apt-get update
    - apt-get install -y doxygen graphviz
    - doxygen conf/Doxyfile
  artifacts:
    paths:
      - documentation/
    expire_in: 1 week

pages :
  stage: deploy
  script:
    - mv documentation/html/ $PUBLIC_DIR
  artifacts:
    paths:
      - $PUBLIC_DIR
    expire_in: 1 week
  only:
    - ToUnity

test_project:
  image : unityci/editor:ubuntu-6000.0.30f1-android-3.1.0
  stage: test
  script:
    - unity-editor \
      -batchmode \
      -nographics \
      -silent-crashes \
      -logfile /dev/stdout \
      -runTests \
      -testPlatform editmode \
      -projectPath . \
      -testResults ./test-results.xml
  artifacts:
    when: always
    paths:
      - test-results.xml
    expire_in: 1 week
  only : 
    - ToUnity